@inherits LayoutComponentBase
@implements IRazorComponentApplication<MainLayout>
<!DOCTYPE html>
<html>
<body>
	<h3>MainLayout</h3>
	@Body
	<script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
</body>
</html>

